.date_range_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--ui-kit-date-picker-date-panel-gap);
    gap: var(--ui-kit-date-picker-date-panel-border-radius);
    background-color: var(--ui-kit-date-picker-background);
    width: fit-content;
}