.container {
    display: flex;
    gap: 8px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    cursor: pointer;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}