NODE_ENV=development
CORS_ORIGIN=*
STACK_TRACE_LIMIT=100
COMPRESSION_CONFIG={"level":1}
LOG_LEVEL=1
CACHE_ENABLED=false

REACT_APP_ESB_ENABLED=false

ESB_NAME=frontend-admin
REACT_APP_BACKEND_PREFIX=/api
ESB_HOST=localhost:3380
PUBLIC_URL=/
BROWSER=none
PORT=3370
MF_TYPES_PORT=33700
MODULE_FEDERATION_CONTAINER_NAME=ADMINPANEL_UI_COMPONENTS

REACT_APP_FLOW_REMOTE_URL=localhost:3987/remoteEntry.js

FILES="./src/components"

# FILES="./src/**/*.{js,jsx,ts,tsx}" all files