src/components/WindowsCMP/**
src/components/SortableListItem/**
src/components/ThemeSwitchAgent/**
src/components/AccessRestricted/**
src/components/LinkCMP/**
src/components/Accordion/**
src/components/Loader/**
src/components/UIKit/**
src/components/UiKitIcons/**
src/components/AdminSearch/**
src/components/UserAttribute/**
src/components/Users/**
src/components/ApiError/**
src/components/Utils/**
src/components/AuthForm/**
src/components/Avatar/**
src/components/CodeEditorCMP/**
src/components/ModalDetailedError/**
src/components/CommonInput/**
src/components/ModalError/**
src/components/DRQueryBuilder/**
src/components/ModalSuccess/**
src/components/DetailsHeader/**
src/components/OffcanvasCMP/**
src/components/DevelopMacros/**
src/components/PagesTree/**
src/components/ErrorBoundary/**
src/components/PrivateComponent/**
src/components/statistics-agent-ui/**
src/components/Errors/**
src/components/ProfileCMP/**
src/components/RankEditor/**
src/components/ui/**
src/components/SelectSubscribeGroup/**
src/components/HOC/**
src/components/SessionContext/**
src/components/Header/**
src/components/SkeletonSpinner/**
src/components/Icon/**
src/components/SkeletonsCMP/**
src/components/SortableList/**
src/components/MetadataForms/**
src/components/routes.js
src/components/sberComponents.js
src/components/withPrivate.js
src/components/withRouter.js
src/components/lite-react-statemanager.d.ts
src/components/types.ts
src/components/**/__test__/**
src/components/**/__tests__/**
src/components/**/__mocks__/**
src/components/**/*.test.{js,jsx,ts,tsx}
src/components/**/*.spec.{js,jsx,ts,tsx}


// TODO REMOVE THAT and fix module
src/components/AdminUiKit/**