.hover:hover {
    color: var(--main-active-color, #ffff);
    cursor: pointer;
}

.badge {
    position: absolute;
    top: 5%;
    left: 90%;
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 30px;
}

.container {
    height: max-content;
    width: max-content;
    position: relative;
    display: inline-block;
}

.myIcon {
    display: inline-block;
    color: var(--main-text-color, #7c95ab);
}

.marginEvent {
    margin: 5px;
}
