.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    height: 250px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    display: flex;
    gap: 15px;
}

.deteleBtn {
    flex-shrink: 0;
    min-width: 32px;
}

.controls {
    display: flex;
    justify-content: flex-end;
}