.error {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    padding: 70px 16px 0 16px;
}

.li {
    list-style-type: none;
}
.ul {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: underline;
}

.images {
    display: flex;
    flex-direction: row;
    width: 80%;
}
.img {
    width: 50%;
    height: auto;
    padding: 32px 16px;
}
@media (max-width: 1300px) {
    .images {
        flex-direction: column;
        align-items: center;
        padding: 32px 0;
    }
    .img {
        width: 600px;
        padding: 0px 32px;
    }
}
