.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--ui-kit-spacing-2);
    padding: var(--ui-kit-spacing-3) var(--ui-kit-spacing-6);
    line-height: var(--ui-kit-typography-body-line-height);
    white-space: nowrap;
    justify-content: space-between;
}

.card {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--ui-kit-spacing-4);
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.avatar {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.title:empty::before,
.subtitle:empty::before {
    content: "\a0";
}