.wrapper {
    display: flex;
    gap: 8px;
    width: 100%;
    padding: 12px;
    background-color: var(--ui-kit-colors-background-control);
    border-radius: var(--ui-kit-spacing-2);
}

.operatorSelect {
    width: 150px;
}
