.searchSelect {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selectedItemPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    width: 100%;
}

.selectDropdownPart {
    width: 100%;
    z-index: 1;
    position: relative;
}

.selectListView {
    max-height: 300px;
    overflow: auto;
    border-radius: 0 0 5px 5px;
}

.arrowDownButton {
    border-radius: 0;
}

.closeButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.closeButtonWithList {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.iconWrapper {
    border: 1px solid var(--main-text-color, rgba(169, 179, 209, 0.24));
    box-sizing: border-box;
}

.icon {
    line-height: 100%;
}

.clearIcon {
    color: #b3aeae;
}

.clearIcon:hover {
    border: 1px solid var(--main-active-color);
    color: var(--main-active-color);
}
