.myModal {
    /* z-index: var(--zindex-toast); */
    backdrop-filter: blur(5px);
}

.modalBackdropLayout {
    z-index: var(--zindex-modal-backdrop);
}

.modalDialogLayout {
    z-index: var(--zindex-modal);
}

.modalContent {
    background-color: var(--tile-bg-color) !important;
}

.myModalHeader {
    color: var(--main-active-color, #fff);
}

.iconClose {
    color: var(--main-text-color, #7c95ab);
}

.btnCloseModal {
    background-color: inherit !important;
    border: 1px solid var(--second-bg-color) !important;
}

.btnCloseModal:hover {
    color: var(--main-active-color, #fff);
}

.btnCloseModal:hover > .iconClose {
    color: var(--main-active-color, #fff);
}
